html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.mapbox-improve-map {
    display: none;
}
.mapboxgl-ctrl-attrib {
  display: none;
}
.mapboxgl-control-container {
  display: none;
}
