html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.mapbox-improve-map {
    display: none;
}
.mapboxgl-ctrl-attrib {
  display: none;
}
.mapboxgl-control-container {
  display: none;
}

.slidercontainer {
  position: absolute;
  bottom: 0px;
  height: 30px;
  width: 100vw;
  background-color: grey;
}

.slidertabs {
  position: absolute;
  bottom: 0px;
  z-index: 1;

}

#slidertab1 {
  left: 50px;
}

#slidertab2 {
  left: 200px;
}

#counter {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 5;

}
